---
import { cn } from "@mupin.dev/shared";
import BaseLayout from "../layouts/base.layout.astro";
import DateLocationRenderer from "../components/DateLocationRenderer.astro";
import Banner from "../components/Banner";
import resume from "../data/resume.json";

const containerClasses = cn(
  "min-h-screen max-w-screen-sm mx-auto flex flex-col gap-4",
  "sm:p-4",
  "prose prose-slate prose-headings:m-0 prose-headings:text-[0.625rem] prose-headings:font-bold prose-ul:m-0",
  "dark:prose-invert",
  "sm:prose-headings:text-[0.875rem] sm:max-w-screen-lg",
  "print:max-w-screen-none print:p-0",
);
---

<BaseLayout pageTitle="Ahmad Muwaffaq's Resume">
  <div class={containerClasses}>
    <Banner client:load />
    <div class="flex flex-col gap-4 p-4 print:border-0 print:p-0 sm:border">
      <header class="flex flex-col">
        <h1
          class="text-center !text-base !font-normal sm:!text-xl"
          set:html={resume.basics.name}
        />
        <div
          class="flex flex-wrap items-center justify-center gap-2 divide-x *:px-2 sm:gap-0"
        >
          <a
            href={`mailto:${resume.basics.email}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            {resume.basics.email}
          </a>
          <span>{import.meta.env.PRIVATE_PHONE_NUMBER}</span>
          {
            resume.basics.profiles.map((profile) => {
              const url = new URL(profile.url);
              const noProtocolUrl = `${url.hostname}${url.pathname}`;
              return (
                <a href={profile.url} target="_blank" rel="noopener noreferrer">
                  {noProtocolUrl}
                </a>
              );
            })
          }
        </div>
      </header>

      <main class="flex flex-col gap-2">
        <section class="flex flex-col gap-1">
          <h2 class="uppercase border-b">Summary</h2>
          <article set:html={resume.basics.summary} />
        </section>

        <section class="flex flex-col gap-1">
          <h2 class="uppercase border-b">Experiences</h2>
          {
            resume.work.map((work) => {
              return (
                <section class="flex flex-col">
                  <div class="grid grid-cols-3">
                    <h3>{work.position}</h3>
                    <h3 class="justify-self-center">
                      {work.url ? (
                        <a
                          href={work.url}
                          target="_blank"
                          rel="noopener noreferrer"
                          class="font-bold"
                        >
                          {work.name}
                        </a>
                      ) : (
                        work.name
                      )}
                    </h3>
                    <DateLocationRenderer
                      startDate={work.startDate}
                      endDate={work.endDate}
                      location={work.location}
                    />
                  </div>
                  <ul>
                    {work.highlights.map((highlight) => {
                      const nestedHighlight = highlight.split("|");
                      const hasNestedHighlight = nestedHighlight.length > 1;
                      return (
                        <li>
                          {hasNestedHighlight ? nestedHighlight[0] : highlight}
                          {hasNestedHighlight && (
                            <ul>
                              {nestedHighlight.slice(1).map((nested) => (
                                <li>{nested}</li>
                              ))}
                            </ul>
                          )}
                        </li>
                      );
                    })}
                  </ul>
                </section>
              );
            })
          }
        </section>

        <section class="flex flex-col gap-1">
          <h2 class="uppercase border-b">Skills</h2>
          <ul>
            {
              resume.skills.map((skill) => (
                <li>
                  <span class="font-bold">{skill.name}:</span>{" "}
                  {skill.keywords.join(", ")}
                </li>
              ))
            }
          </ul>
        </section>

        <section class="flex flex-col gap-1">
          <h2 class="uppercase border-b">Education</h2>
          {
            resume.education.map((education) => (
              <section class="grid grid-cols-2">
                <div class="flex flex-col">
                  <h3>{education.institution}</h3>
                  <p
                    set:html={education.area}
                    class="text-[8px] sm:text-[12px]"
                  />
                </div>
                <DateLocationRenderer
                  startDate={education.startDate}
                  endDate={education.endDate}
                  location={education.location}
                />
              </section>
            ))
          }
        </section>

        <section class="flex flex-col gap-1">
          <h2 class="uppercase border-b">Projects</h2>
          {
            resume.projects.map((project) => (
              <section class="flex flex-col">
                <h3>
                  {project.name} (
                  <a
                    href={project.url}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {project.url}
                  </a>
                  )
                </h3>
                <p>{project.description}</p>
              </section>
            ))
          }
        </section>
      </main>
    </div>
  </div>
</BaseLayout>
