---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import Badge from "@/components/ui/badge.astro";
import { OrbitingCircles } from "@/components/ui/orbiting-circles.tsx";
import featuredProjectKagetImage from "@/assets/images/featured-project-kaget.png";
import { getLatestBlogPost } from "@/lib/content.lib";

const socialIcons = [
  { link: "http://x.com/itsmupinnn/", name: "Twitter", icon: "ri:twitter-x-line" },
  {
    link: "https://www.linkedin.com/in/ahmad-muwaffaq/",
    name: "LinkedIn",
    icon: "ri:linkedin-box-fill",
  },
  { link: "https://github.com/mupinnn/", name: "GitHub", icon: "ri:github-fill" },
];
const kagetProjectEntry = await getEntry("projects", "kaget");
const latestWritings = await getLatestBlogPost();
const techStacks = [
  "vitejs",
  "javascript",
  "react",
  "typescript",
  "vuejs",
  "nuxtjs",
  "tailwindcss",
  "css3",
  "sass",
  "astro",
];
---

<div
  class="grid auto-rows-[auto_auto_1fr_auto_minmax(200px,_auto)] grid-cols-12 gap-4 md:auto-rows-fr md:grid-cols-32"
>
  <div class="col-span-full col-start-1 row-start-1 row-end-2 grid grid-cols-3 gap-4 md:col-end-12">
    {
      socialIcons.map(social => (
        <a
          href={social.link}
          rel="noopener noreferrer"
          target="_blank"
          class="bg-cod-gray-3 inline-flex aspect-square items-center justify-center rounded-xl text-slate-100"
        >
          <span class="sr-only">Visit my {social.name}</span>
          <Icon name={social.icon} size="40" />
        </a>
      ))
    }
  </div>

  <a
    href="/now"
    class="bg-tangerine-1 group col-span-full col-start-1 row-start-2 row-end-3 cursor-pointer rounded-xl bg-[url(#ai:ri:arrow-right-line)] bg-contain p-4 md:col-end-12"
  >
    <h2 class="font-bricolage inline-flex items-center gap-2 text-2xl font-bold">
      See what I'm up to right now
      <Icon
        name="ri:arrow-right-line"
        class="shrink-0 transition-transform group-hover:translate-x-1"
      />
    </h2>
  </a>

  <a
    href={`/projects/${kagetProjectEntry.id}`}
    class="bg-peach-1 group gap-4row-start-3 col-span-full row-end-4 flex cursor-pointer flex-col gap-4 overflow-clip rounded-xl p-4 md:col-start-12 md:row-start-1 md:row-end-3 md:grid md:grid-cols-2 md:overflow-visible"
  >
    <div class="space-y-1 self-end">
      <Badge>
        <Icon name="ri:star-fill" />
        Featured work
      </Badge>
      <h2 class="font-bricolage inline-flex items-center gap-2 text-2xl font-bold">
        {kagetProjectEntry.data.title}
        <Icon
          name="ri:arrow-right-line"
          class="opacity-0 transition group-hover:translate-x-2 group-hover:opacity-100"
        />
      </h2>
      <p class="text-sm">{kagetProjectEntry.data.description}</p>
    </div>

    <div class="relative z-10 h-60 md:h-auto">
      <div
        class="bg-cod-gray-1/15 absolute rounded-[36px] p-2 backdrop-blur-xs transition-all group-hover:-translate-y-18 group-hover:[clip-path:inset(0_0_333px_0)]! md:-translate-y-16"
        style="clip-path: inset(0 0 341px 0)"
      >
        <Image
          src={featuredProjectKagetImage}
          alt="A screenshot of KaGet budgeting app that showing the main page"
        />
      </div>
    </div>
  </a>

  <a
    href={`/blog/${latestWritings.id}`}
    class="bg-pink-2 col-span-full row-start-4 row-end-5 grid auto-rows-auto rounded-xl p-4 md:col-start-1 md:col-end-20 md:row-start-3 md:row-end-5"
  >
    <Badge class="self-start">
      <Icon name="ri:pencil-fill" />
      Latest writings
    </Badge>

    <div class="space-y-1 self-end">
      <h2 class="font-bricolage inline-flex items-center gap-2 text-2xl font-bold">
        {latestWritings.data.title}
      </h2>
      <p class="text-sm">{latestWritings.data.description}</p>
    </div>
  </a>

  <div
    class="border-cod-gray-1 bg-lemon-1 relative col-span-full row-start-5 row-end-6 flex items-center justify-center rounded-xl border-2 border-dashed md:col-start-20 md:row-start-3 md:row-end-5"
  >
    <div
      class="border-cod-gray-1 flex size-full -rotate-2 items-center justify-center overflow-clip rounded-xl border bg-slate-50 p-4"
    >
      <div
        class="absolute inset-x-0 -top-2/3 flex size-full flex-col items-center justify-center overflow-hidden"
      >
        <OrbitingCircles iconSize={30} radius={90}>
          {techStacks.map(stack => <Icon name={`devicon:${stack}`} />)}
        </OrbitingCircles>
      </div>

      <Badge>
        <Icon name="ri:tools-fill" />
        Comfortable stacks
      </Badge>

      <div
        class="absolute inset-x-0 -bottom-2/3 flex size-full flex-col items-center justify-center overflow-hidden"
      >
        <OrbitingCircles iconSize={30} radius={90}>
          {techStacks.map(stack => <Icon name={`devicon:${stack}`} />)}
        </OrbitingCircles>
      </div>
    </div>
  </div>
</div>
