---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import Badge from "@/components/ui/badge.astro";
import { OrbitingCircles } from "@/components/ui/orbiting-circles.tsx";
import featuredProjectKagetImage from "@/assets/images/featured-project-kaget.png";
import { getLatestBlogPost } from "@/lib/content.lib";

const socialIcons = [
  {
    link: "http://x.com/itsmupinnn/",
    name: "Twitter",
    icon: "ri:twitter-x-line",
    class: "hover:bg-brand-x",
  },
  {
    link: "https://www.linkedin.com/in/ahmad-muwaffaq/",
    name: "LinkedIn",
    icon: "ri:linkedin-box-fill",
    class: "hover:bg-brand-linkedin",
  },
  {
    link: "https://github.com/mupinnn/",
    name: "GitHub",
    icon: "ri:github-fill",
    class: "hover:bg-brand-github",
  },
  { link: "#", name: "Email", icon: "ri:mail-line", class: "hover:bg-brand-google-red" },
  {
    link: "https://codepen.io/mupin",
    name: "CodePen",
    icon: "ri:codepen-line",
    class: "hover:bg-cod-gray-1",
  },
  { link: "#", name: "Resume", icon: "ri:file-list-3-line", class: "hover:bg-brown-1" },
];
const kagetProjectEntry = await getEntry("projects", "kaget");
const latestWritings = await getLatestBlogPost();
const techStacks = [
  "vitejs",
  "javascript",
  "react",
  "typescript",
  "vuejs",
  "nuxtjs",
  "tailwindcss",
  "css3",
  "sass",
  "astro",
];
const experiences = [
  {
    role: "Frontend Developer",
    company: "Juragan Material",
    current: true,
  },
  {
    role: "Frontend Developer, Freelance",
    company: "",
    from: 2020,
    to: 2022,
  },
  {
    role: "Frontend Developer, Intern",
    company: "Garena",
    current: false,
    from: 2019,
    to: 2020,
  },
];
---

<div class="flex flex-col gap-4 py-16 xl:py-24">
  <div class="flex flex-1 flex-col gap-4 sm:flex-row">
    <a
      href={`/projects/${kagetProjectEntry?.id}`}
      class="bg-peach-1 group flex flex-col gap-8 overflow-clip rounded-xl p-4 sm:flex-row sm:overflow-visible"
    >
      <div class="flex flex-col sm:self-end">
        <Badge class="mb-3">
          <Icon name="ri:star-fill" />
          Featured work
        </Badge>
        <h2 class="font-bricolage mb-1 text-2xl font-bold">
          {kagetProjectEntry?.data.title}
        </h2>
        <p class="text-sm">{kagetProjectEntry?.data.description}</p>
      </div>

      <div class="relative h-60 sm:min-w-48">
        <div
          class="bg-cod-gray-1/15 relative mx-auto w-fit rounded-[36px] p-2 backdrop-blur-xs sm:-translate-y-16 sm:transition-all sm:[clip-path:rect(0_100%_320px_0)] sm:group-hover:-translate-y-20 sm:group-hover:[clip-path:rect(0_100%_336px_0)]"
        >
          <Image
            src={featuredProjectKagetImage}
            alt="A screenshot of KaGet budgeting app that showing the main page"
          />
        </div>
      </div>
    </a>

    <div class="flex flex-col gap-4">
      <a
        href="/now"
        class="bg-tangerine-1 hover:bg-tangerine-2 flex-1 cursor-pointer place-content-center rounded-xl p-4 text-balance transition-colors"
      >
        <h2 class="font-bricolage text-2xl font-bold">
          See what I'm up to right now
          <Icon name="ri:arrow-right-line" class="inline-block shrink-0" />
        </h2>
      </a>

      <a
        href="/projects"
        class="bg-blue-1 hover:bg-blue-2 flex-1 cursor-pointer place-content-center rounded-xl p-4 text-balance transition-colors"
      >
        <h2 class="font-bricolage text-2xl font-bold">
          Find out my other works
          <Icon name="ri:arrow-right-line" class="inline-block shrink-0" />
        </h2>
      </a>
    </div>
  </div>

  <div class="flex flex-1 flex-wrap gap-4 *:flex-auto sm:grid sm:grid-cols-3">
    <div class="border-cod-gray-1 bg-brown-1 rounded-xl border-2 border-dashed">
      <div
        class="border-cod-gray-1 flex size-full rotate-2 flex-col rounded-xl border bg-slate-50 p-4"
      >
        <Badge class="mb-3">
          <Icon name="ri:star-fill" />
          Experience
        </Badge>

        <div class="space-y-2">
          {
            experiences.map(experience => (
              <div class="space-y-1 text-sm">
                <p class="font-medium">
                  {experience.role} {experience.company ? `at ${experience.company}` : null}
                </p>
                <p class="text-cod-gray-1/75 text-sm">
                  {experience.current ? "Current" : `${experience.from} - ${experience.to}`}
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <a
      href={`/blog/${latestWritings.id}`}
      class="bg-pink-2 hover:bg-pink-1 flex flex-col rounded-xl p-4 transition-colors"
    >
      <div class="flex flex-col">
        <Badge class="mb-3">
          <Icon name="ri:pencil-fill" />
          Latest writings
        </Badge>
        <h2 class="font-bricolage mb-1 text-2xl font-bold">
          {latestWritings.data.title}
        </h2>
        <p class="text-sm">{latestWritings.data.description}</p>
      </div>
    </a>

    <div class="border-cod-gray-1 bg-lemon-1 relative min-h-72 rounded-xl border-2 border-dashed">
      <div
        class="border-cod-gray-1 relative flex size-full -rotate-2 flex-col overflow-clip rounded-xl border bg-slate-50 p-4"
      >
        <div class="flex flex-col">
          <Badge class="mb-3">
            <Icon name="ri:tools-fill" />
            Comfortable stacks
          </Badge>
          <p class="text-sm">
            These are my go-to stacks. On the other hand, I'm always keen on learning new tech and
            tools that can fulfill my needs.
          </p>
        </div>

        <div
          class="absolute inset-x-0 -bottom-1/2 flex size-full flex-col items-center justify-center"
        >
          <OrbitingCircles iconSize={30} radius={130}>
            {techStacks.map(stack => <Icon name={`devicon:${stack}`} />)}
          </OrbitingCircles>
        </div>

        <div
          class="absolute inset-x-0 -bottom-1/2 flex size-full flex-col items-center justify-center"
        >
          <OrbitingCircles iconSize={20} radius={80} reverse speed={2}>
            {techStacks.map(stack => <Icon name={`devicon:${stack}`} />)}
          </OrbitingCircles>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-1 flex-col gap-4 lg:flex-row">
    <div class="grid grid-cols-3 gap-4 sm:grid-cols-6 lg:flex-1 lg:grid-cols-3">
      {
        socialIcons.map(social => (
          <a
            href={social.link}
            rel="noopener noreferrer"
            target="_blank"
            class:list={[
              "bg-cod-gray-3 inline-flex aspect-square items-center justify-center rounded-xl text-slate-100 transition-colors",
              social.class,
            ]}
          >
            <span class="sr-only">Visit my {social.name}</span>
            <Icon name={social.icon} size="40" />
          </a>
        ))
      }
    </div>

    <a
      href="https://cscie2x.dce.harvard.edu/hw/ch01s06.html#:~:text=do%20one%20thing%20and%20do%20it%20well"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-cod-gray-3 flex flex-col rounded-xl p-4 text-slate-100 lg:flex-1 lg:basis-3/9"
    >
      <blockquote class="relative mb-4 pt-8 text-6xl font-bold text-balance italic">
        <Icon name="ri:double-quotes-l" size="160" class="absolute -top-6 -left-4 opacity-25" />
        <p>Do One Thing And Do It Well</p>
      </blockquote>
      <p><cite>– Unix philosophy</cite></p>
    </a>
  </div>
</div>
